@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;600&display=swap');

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;

  & img {
    max-width: 55%;
  }

  & .text {
    font-family: 'Catamaran', sans-serif;
    margin-left: 2rem;

    & h3 {
      font-size: 3rem;
      margin-block-start: 0;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    & p a {
      color: inherit;
    }

    & p .bold {
      font-weight: 800;
      font-size: 1.7rem;
    }

  }
}