@import '../../scss/variables.scss';

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;

  & img {
    max-width: 55%;
  }

  & .text {
    font-family: 'Catamaran', sans-serif;
    margin-left: 2rem;

    & h3 {
      font-size: 3rem;
      margin-block-start: 0;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    & p a {
      color: inherit;
    }

    & p .bold {
      font-weight: 800;
      font-size: 1.7rem;
    }

  }

  & button {
    width: 25rem;
    padding: 1rem 0;
    color: $text-color-secondary;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: $bg-color-main;
    border: 2px solid $text-color-secondary;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}

// Mobile
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;

    & img {
      max-width: 100%;
    }

    & .text {
      margin-left: 0;

      & h3 {
        font-size: 2rem;
        text-align: center;
      }

      & p .bold {
        font-size: 1.4rem;
      }
    }

    & button {
      width: 100%;
    }
  }
}

// Big screens
@media (min-width: 1920px) {
  .container {
    width: 70%;

    & img {
      max-width: 60%;
    }

    & .text {
      margin-left: 3rem;

      & h3 {
        font-size: 4rem;
      }

      & p .bold {
        font-size: 2rem;
      }
    }

    & button {
      width: 30rem;
    }
  }
}