@import '../../scss/variables.scss';

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;

  & img {
    max-width: 40%;
  }

  & .text {
    font-family: 'Am Sans', sans-serif;
    line-height: 1.5;
    margin-left: 2rem;

    & h3 {
      font-size: 2.5rem;
      color: $text-color-white;
      font-weight: 100;
      margin-block-start: 0;
      text-transform: uppercase;
    }

    & p a {
      color: $text-color-main;
    }

    & p .highlight {
      font-size: 1.5rem;
      font-weight: bold;
      color: $text-color-white;
    }

  }
}

// Mobile
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;

    & img {
      max-width: 100%;
    }

    & .text {
      margin-left: 0;

      & h3 {
        font-size: 2rem;
        text-align: center;
      }

      & p .bold {
        font-size: 1.4rem;
      }
    }

    & button {
      width: 100%;
    }
  }
}

// Big screens
@media (min-width: 1920px) {
  .container {
    width: 70%;

    & img {
      max-width: 60%;
    }

    & .text {
      margin-left: 3rem;

      & h3 {
        font-size: 4rem;
      }

      & p .bold {
        font-size: 2rem;
      }
    }

    & button {
      width: 30rem;
    }
  }
}