.tiles-container {
    width: 85%;
    margin: 0 auto;
    height: 40rem;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
}