.overlay-wrapper {
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    backdrop-filter: blur(0px) brightness(100%);
    transition: backdrop-filter .3s ease-in-out;

    &:hover {
        backdrop-filter: blur(3px) brightness(50%);
    }
}

.tile {
    position: relative;
    transition: backdrop-filter .3s;

    & img {
        width: 100%;
        height: 100%;
    }

    & .overlay {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        cursor: pointer;

        & h4,
        p {
            font-family: 'Catamaran', sans-serif;
            text-transform: capitalize;
        }

        & h4,
        & p,
        & h3 {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity .3s ease-in-out, transform .3s ease-in-out;
        }

        &:hover {

            & h4,
            & p,
            & h3 {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}