.tile {
    overflow: hidden;
    cursor: pointer;
    position: relative;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .3s ease-out;
    }

    & .tile-details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        backdrop-filter: blur(3px) brightness(.5);
        padding: .5rem;
        opacity: 0;
        transition: opacity .3s;

        & h4 {
            margin-bottom: -2rem;
            text-transform: capitalize;
            font-size: 1.8rem;
        }

        & h4,
        p {
            font-family: 'Am Sans';
        }

        & p {
            font-size: 1.2rem;
            line-height: 1;
            width: 60%;
            margin: 1.5rem auto 0 auto;
        }

        & h3 {
            margin: 5rem auto 0 auto;
            text-transform: uppercase;
            font-size: 2.5rem;
            width: 80%;
            line-height: 1;
        }
    }

    &:hover img {
        transform: scale(1.03);
    }

    &:hover .tile-details {
        opacity: 1;
    }
}

// mobile
@media (max-width: 767px) {
    .tile {
        & .tile-details {
            & h3 {
                font-weight: 200;
            }
        }
    }
}

// big screens
@media (min-width: 1920px) {
    .tile {
        & .tile-details {
            & h4 {
                font-size: 2rem;
            }

            & p {
                font-size: 1.5rem;
            }

            & h3 {
                font-size: 3rem;
                margin-top: 6rem;
            }
        }
    }
}