@import '../../scss/variables.scss';

.btn {
    width: 25rem;
    padding: 1rem 0;
    color: $text-color-white;
    font-family: 'League Gothic', sans-serif;
    background-color: $text-color-secondary;
    border-radius: 0;
    cursor: pointer;
}