@import '../../scss/variables.scss';

.btn {
    width: 25rem;
    padding: 1rem 0;
    color: $text-color-secondary;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: $bg-color-main;
    border: 2px solid $text-color-secondary;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;

    &::first-letter {
        text-transform: capitalize;
    }

    &:hover {
        color: $bg-color-main;
        background-color: $text-color-secondary;
    }
}