@import '../../scss/variables.scss';

.section {
    margin: 15rem 0;

    & .section-heading {
        display: block;
        margin: 4rem auto;
        width: 20%;
        text-align: center;

        & h2 {
            font-size: 3.5rem;
            color: $text-color-white;
            border-bottom: 1px solid $text-color-white;
            text-transform: uppercase;
        }

        & h3 {
            font-weight: 100;
            margin-top: -2.5rem;
            text-transform: uppercase;
        }
    }
}

// Mobile
@media (max-width: 767px) {
    .section {
        margin: 10rem 0;

        & .section-heading {
            width: 50%;
        }
    }
}

// Big screen
@media (min-width: 1920px) {
    .section {
        & .section-heading {
            width: 13%;
        }
    }
}