.navigation {
  position: absolute;
  z-index: 100;
  top: 3rem;
  left: 4.5rem;

  & ul {
    list-style-type: none;
    margin-left: .6rem;
  }

  & ul li {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    transition: all .4s;
  }

  & ul li a {
    opacity: 0.8;
    text-decoration: none;
    color: inherit;
    transition: all 0.4s;
    cursor: pointer;
    display: inline-block;
    transform-origin: center;
  }

  & ul li a:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

.logo {
  opacity: 0.8;
  width: 24rem;
  margin-bottom: 6rem;
}

// mobile
@media (max-width: 768px) {
  .navigation {
    top: 1rem;
    left: 1rem;

    & ul li {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .logo {
      width: 18rem;
      margin-bottom: 2rem;
    }
  }
}