@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import '../../scss/variables.scss';

.contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    & label {
        align-self: flex-start;

        & .required {
            font-size: 1.3rem;
        }
    }

    & input,
    textarea {
        width: 100%;
        margin-bottom: 2rem;
        background-color: $text-color-main;
        border: 2px solid transparent;
        border-radius: 5px;
        font-size: 1.5rem;
        padding-left: 1rem;
        font-family: 'Poppins', sans-serif;
        transition: border .5s;
    }

    & input:focus,
    textarea:focus {
        outline: none !important;
        border: 2px solid $text-orange;
    }

    & input {
        height: 3rem;
    }

    & button {
        width: 25rem;
        padding: 1rem 0;
        color: $text-orange;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        background-color: $bg-color-main;
        border: 2px solid $text-orange;
        border-radius: 5px;
        transition: all .5s;
        cursor: pointer;

        &::first-letter {
            text-transform: capitalize;
        }

        &:hover {
            color: $text-color-main;
            background-color: #b96600;
        }
    }
}

// Mobile
@media (max-width: 767px) {
    .contact-us-form {

        & .input-container {
            width: 80%;
        }
    }
}