@font-face {
  font-family: "League Gothic";
  src: local('LeagueGothic'), url(./fonts/LeagueGothic-Regular-VariableFont_wdth.ttf);
}

@font-face {
  font-family: "Am Sans";
  src: local('AMSANSR'), url(./fonts/AMSANSR.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;600&display=swap');

@import '../src/scss/variables.scss';

html {
  font-size: 62.5%;
}

body {
  background-color: $bg-color-main;
  color: $text-color-main;
  box-sizing: border-box;
  margin: 0;
  padding: 3rem 0 0 0;
  font-family: 'League Gothic', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}