@font-face {
  font-family: "Aku & Kamu";
  src: url("https://db.onlinewebfonts.com/t/ad1ea0375a0b5d31cb572e4a038ae716.eot");
  src: url("https://db.onlinewebfonts.com/t/ad1ea0375a0b5d31cb572e4a038ae716.woff2")format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;600&display=swap');

@import '../src/scss/variables.scss';

html {
  font-size: 62.5%;
}

body {
  background-color: $bg-color-main;
  color: $text-color-main;
  box-sizing: border-box;
  margin: 0;
  padding: 3rem 0 0 0;
  font-family: 'Aku & Kamu';
  font-size: 1.6rem;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-top: 15rem;
}